<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
		                   http://www.springframework.org/schema/jee
		                   http://www.springframework.org/schema/jee/spring-jee.xsd">

	<!-- Connection Factory -->
	<bean id="connectionFactory" class="com.fedex.smartpost.common.jms.RetryingConnectionFactoryDecorator">
		<constructor-arg>
            <bean class="org.springframework.jms.connection.CachingConnectionFactory">
                <property name="targetConnectionFactory">
                    <bean class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">
                        <property name="targetConnectionFactory">
                            <jee:jndi-lookup jndi-name="fxClientUID=VS.FXSPSHIP.MOVEMENT.QCF">
                                <jee:environment>
                                    java.naming.provider.url=ldap://appldap.prod.fedex.com:389/ou=messaging,dc=prod,dc=fedex,dc=com
                                    java.naming.factory.initial=com.fedex.mi.decorator.jms.FedexTibcoInitialContext
                                </jee:environment>
                            </jee:jndi-lookup>
                        </property>
                        <property name="username" value="fxsp_drs" />
                        <property name="password" value="fxsp_drs" />
                    </bean>
                </property>
                <property name="sessionCacheSize" value="70" />
            </bean>
        </constructor-arg>
		<property name="connectionRetryTimeout" value="5000" />
		<property name="maxConnectionAttempts" value="5" />
	</bean>

    <bean id="pdConnectionFactory" class="com.fedex.smartpost.common.jms.RetryingConnectionFactoryDecorator">
        <constructor-arg>
            <bean class="org.springframework.jms.connection.CachingConnectionFactory">
                <property name="targetConnectionFactory">
                    <bean class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">
                        <property name="targetConnectionFactory">
                            <jee:jndi-lookup id="pdJndiLdapLookupConnectionFactory" jndi-name="fxClientUID=VS.FXSPSHIP.DELIVERY.POSTAL.QCF">
                                <jee:environment>
                                    java.naming.provider.url=ldap://appldap.prod.fedex.com:389/ou=messaging,dc=prod,dc=fedex,dc=com
                                    java.naming.factory.initial=com.fedex.mi.decorator.jms.FedexTibcoInitialContext
                                </jee:environment>
                            </jee:jndi-lookup>
                        </property>
                        <property name="username" value="fxsp_drs" />
                        <property name="password" value="fxsp_drs" />
                    </bean>
                </property>
                <property name="sessionCacheSize" value="70" />
            </bean>
        </constructor-arg>
        <property name="connectionRetryTimeout" value="5000" />
        <property name="maxConnectionAttempts" value="5" />
    </bean>

	<bean id="domesticPublisher" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="FXSPSHIP.MOVEMENT.SORTSCAN.RATING_6895" />
		<property name="messageConverter" ><null /></property>
		<property name="pubSubDomain" value="false" />
		<property name="sessionTransacted" value="true" />
		<property name="destinationResolver" ref="jndiDestinationResolver" />
	</bean>

	<bean id="returnsPublisher" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="FXSPSHIP.MOVEMENT.SORTSCAN.RATING_5779" />
		<property name="messageConverter" ><null /></property>
		<property name="pubSubDomain" value="false" />
		<property name="sessionTransacted" value="true" />
		<property name="destinationResolver" ref="jndiDestinationResolver" />
	</bean>

    <bean id="domPdPublisher" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="pdConnectionFactory" />
        <property name="defaultDestinationName" value="FXSPSHIP.DELIVERY.POSTAL.RATING_6895" />
        <property name="messageConverter" ><null /></property>
        <property name="pubSubDomain" value="false" />
        <property name="sessionTransacted" value="true" />
        <property name="destinationResolver" ref="jndiDestinationResolver" />
    </bean>

	<bean id="jndiDestinationResolver" class="org.springframework.jms.support.destination.JndiDestinationResolver">
		<property name="fallbackToDynamicDestination" value="true" />
	</bean>
</beans>